.bg-container 
{
    background-image: linear-gradient(to right, #d3d3d3, #e0e0e0);
    border-radius: 36px;
}
.heading 
{
    color: #2d3a35;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}
.selected-pet 
{
    font-family: "Roboto";
    font-weight: 600;
}